@import url('https://fonts.googleapis.com/css?family=Open+Sans');




/*importacion de las fuentes*/


body{
    margin: 0;
    padding: 0;
}

.contenedor-master{
    position: relative;
    max-height: 700px;
    overflow: hidden;
}

.contenedor-pagina{
    position: relative;
    max-width: 1000px;
    margin: auto;
    z-index: 3;
}

/*
.contenedor-principal{
    width: 100%;
}
*/


.contenedor-principal__imagen{
    width: 100%;
    position: absolute;
}


.contenedor-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}



.logo{
    width: 100%;
}

.lista{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}

.lista__elementos{
    padding: 10px 20px;
}


a{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color:rgb(250, 239, 239);
    text-decoration: none;
}

.lista__link:hover{
    border-bottom: 2px solid #f14e4e;
}


/*esto ya es el menu*/

/*incio de contenedor del texto*/


.contenedor-texto{
    padding: 100px 0;
   /*width: 100%;*/
}

.tituloUno{
    text-align: center;
    text-transform: uppercase;
    color:rgb(250, 239, 239);
    font-size: 79.9px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/*asta aqui ya esta bien*/

.parrafo1{
    text-align: center;
    color:rgb(250, 239, 239);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0;
}

.contenedor-titulo1{
    padding: 0 70 0 70;
}

.contenedor-titulo2{
    margin-top: 1em;
    margin-bottom: 1em;
}

.contenedor-boton{
    display: flex;
    justify-content: center;
}


.boton{
    border: none;
    background-color: transparent;
    width: 300px;
    cursor: pointer;
    text-align: center;
    background-color: #f14e4e;
    color:white;
}

.boton__enlace{
    padding: 1em 2em;
    /*
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    */
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

/*asta aqui ya todo esta bien :v*/

.cover{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    z-index: 2;
}

/*todo esto ya esta bien*/

.iconos{
    color: #f14e4e;
    font-size: 50px;
    /*padding-left: 80px;*/
    
}


.icono-blanco{
    color: white;
  
    
}



.columnas{
    width: 30%;
    margin: 0 10px;
}

.niveluno{
    padding: 60px 50px 0 50px;
    text-align: center;
}

.titulos-finales{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
}

.parrafos-finales{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: gray;
}

.contenedor-pagina{
    display: flex;
    flex-wrap: wrap;
}

.secion1{
    background-color: #F9F9F9;
    padding-bottom: 40px;
}

/*incio de seccion2*/

.secion2{
    
    background-color: #363A43;
}
.contenedor-secion2{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 0;
}
.secion2-parrafo{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
.secion2-boton{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: center;
    
}
.boton2{
    border: none;
    background-color: transparent;
    min-width: 200px;
    cursor: pointer;
    text-align: center;
    background-color:#f14e4e;
    color:white;
    margin-left: 50px;
}

.boton2__enlace2{
    padding: 1em 1em;
    /*
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    */
    display: block;
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1em;
}
.secion2-titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0;
}
.secion2-titulo2{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    margin: 0;
}

.espacio{
    margin-bottom: 10px;
}

/*final de la secion2*/


/*inicio de seccion3*/


.seccion3{
    background-color: #FFFFFF;
}

.contenedor-seccion3{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.seccion3-parrafos{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.seccion3-imagen{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.seccion3-titulo1{
    font-size: 39.95px;
    font-weight: 600;
    color:#2d2d2d;
    font-family: 'Open Sans', sans-serif;
    margin: 60px 0 10px 0;
}

.seccion3-titulo2{
    font-size: 16px;
    color: #626262;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0 40px 0;
}

.boton3{
    border: none;
    background-color: transparent;
    min-width: 200px;
    cursor: pointer;
    text-align: center;
    background-color:#f14e4e;
    color:white;
    margin-left: 10px;
}

.boton3__enlace3{
    padding: 1em 1em;
    /*
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    */
    display: block;
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1em;
}

.edificio{
    width: 100%;
}